@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

.link-car-details {
    text-decoration: none;
    color:black;
}

.car-card {
    border: 1px solid rgb(208, 201, 201);
    border-radius: 20px;
    display: flex;
    padding: 1rem 1rem 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    padding: "1rem 1rem 3rem";
    max-width: 600px;
}

.car-photo {
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin: 5px 1rem 5px 5px;
}

.car-info-container {
    padding: 1.5rem 0;
    position: relative;
    width: 100%;
}

.car-name {
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

.passenger-nb {
    font-weight: 700;
    color: rgb(64, 64, 73);
}

.price-container {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.price {
    font-weight: 700;
    font-size: 1.2rem;
}

.available-car {
    color: #2BC86B;
    font-weight: 600;
}

.car-not-available {
    color: #EC4F52;
    font-weight: 600;
}

.change-availability {
    position: absolute;
    bottom: 10px;
    right: 100px;
    left: 100px;
    padding: 0.5rem;
    background-color: rgb(72,147,163, 0.8);
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.change-availability:hover {
    cursor: pointer;
}

.gone {
    display: none;
}