.cars-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 40px;
    margin: 1rem 3rem 2rem;
}

.add-car-icon-container {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
}

.img-add-car{
    width: 2.5rem;
    height: 2.5rem;
}

.add-car-title {
    color: #292f33;
    padding-bottom: 1.5rem;
    margin-left: 0.8rem;
}

.company-list{
    font-size: 3rem;
    /* margin-top: 700px; */
    text-decoration: none;
    color: #292f33;
    justify-content: center;
    width: 25%;
}