* {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dfdfdf;
  border-radius: 1rem;
  padding-bottom: 1.5rem;
}

.company-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.company-logo {
  height: 80px;
  margin-top: 2rem;
}

.text {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin: 1rem 0rem 1rem 3rem;
}

.input-field {
  box-sizing: border-box;
  width: 360px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #445c61;
  padding: 0 10px;
  margin: 0 2rem;
  border-radius: 0.5rem;
}

.wrong {
  color: red;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.button-login-page {
  width: 12rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.6rem;
  background-color: rgb(72,147,163, 0.2);
  color: rgb(72,147,163);
  font-weight: 700;
}

.button-login-page:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button-login-page:hover {
  box-shadow: 0;
}

.button-login-page a {
  color: rgb(72,147,163);
  font-weight: 700;
  text-decoration: none;
}